
* {
    background-color: aqua;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    background-color: azure;
}

h2{
    background-color: blueviolet;
}

p{
    background-color: rgb(70, 43, 226);
}

img{
    border-radius: 50%;
    width: 100px;
    display: block;
}