<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my-admin</title>
    <link rel="stylesheet" href="../../static/admin/css/main.css">
</head>
<body>
<h1>admin page  is ok now </h1>
<h2>ggggggg</h2>
<p>ffffffffffffffff</p>
<img src="../../static/admin/image/420.jpg" alt="">
<img src="../../static/admin/image/420.jpg" alt="">
<img src="../../static/admin/image/420.jpg" alt="">
<img src="../../static/admin/image/420.jpg" alt="">
<img src="../../static/admin/image/420.jpg" alt="">
<br>
<img src="../../static/admin/image/420.jpg" alt="">
</body>
</html>